$font-family: Montserrat, sans-serif;

$white-base: #FFFFFF;
$black-base: #000000;

// Primary
$primary-base: #ED5252;
$primary-hover: #F06C6C;
$primary-active: #D54A4A;
$primary-disabled: #F0F1F2;

// Secondary
$secondary-base: #EEEEEF;
$secondary-hover: #E6E7E8;
$secondary-active: #DADBDE;
$secondary-disabled: #C5C7D0;

// Error
$error-base: #F03226;

// Neutral
$neutral-base: #303446;

$neutral-placeholder: #A0A6BF;
$neutral-deviders: #D9DDE6;
$neutral-border: #BFC3D5;

$neutral-primary-text: #4D5163;
$neutral-secondary-text: #6A6E7E;



